/*whole website */
html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

p, b { white-space: normal; }

a { text-decoration: none; }

body { display: flex; flex-direction: row; margin: 0; padding: 0; background-color: #F0EEE7; }

/*sidebar*/
.sidebar_box { background-color: #e0674f; flex: 20%; height: 100vh; border: 0px; margin: 0; padding: 0; position: sticky; top: 0px; background-size: cover; }

.logo { /*background-color: #454545;*/ height: 10vw; display: flex; justify-content: center; align-items: center; margin: 5%; border: 5px solid #98301b; border-radius: 5px; }

.logo a { font: 700 2.5vw "Montserrat", sans-serif; /*40px*/ text-align: justify; color: #ffffff; }

.logo:hover a { font: 700 2.3vw "Montserrat", sans-serif; /*40px*/ color: #ffffff; transition: .3s ease; }

/*bar for sidebar*/
bar { display: block; background-color: #98301b; width: 90%; height: 20px; margin: 5%; }

/*navmenu*/
.nav_menu_box { width: 100%; padding: 0 6% 0 5%; }

.nav_menu { display: block; width: 100%; font: 400 18px "Montserrat", sans-serif; color: #f3c0b6; letter-spacing: 1px; padding-right: 0px; text-align: right; }

.nav_menu_highlight { display: block; width: 100%; font: 400 18px "Montserrat", sans-serif; color: #ffffff; letter-spacing: 1px; padding-right: 20px; text-align: right; }

.nav_menu:hover { color: #ffffff; padding-right: 20px; transition: .3s ease; }

/*page body*/
.main_box { flex: 80%; border: 0px; display: flex; flex-direction: row; margin: 0; padding: 0; }

.large_row { flex: 50%; display: flex; flex-direction: column; margin: 0; padding: 0; align-items: center; }

.nested_row_div { flex: 100%; display: flex; flex-direction: row; margin: 0; padding: 0; }

.thin_row { flex: 25%; display: flex; flex-direction: column; margin: 0; padding: 0; align-items: center; }

/*image container*/
.image_container { display: block; position: relative; width: 98%; margin: 0 2% 2% 2%; box-shadow: 2px 2px rgba(0, 0, 0, 0.1); /* margin: 1%; background-color: rgba(255, 255, 255, 0.8); border-radius: 1%;*/ }

.image_container img { width: 100%; height: 100%; }

.overlay { position: absolute; bottom: 20px; left: 10px; padding: 5px; z-index: 2; background: #000000; transition: .3s ease; opacity: 0; font: 18px "Montserrat", sans-serif; color: #ffffff; }

.image_container:hover .overlay { opacity: 1; }

.image_container:hover img { filter: brightness(0.6); transition: .3s ease; }

/*video container*/
.front_page_video { width: 99%; margin: 0 1% 1% 1%; box-shadow: 2px 2px rgba(0, 0, 0, 0.1); /* margin: 1%; background-color: rgba(255, 255, 255, 0.8); border-radius: 1%;*/ }

.video_container { display: block; position: relative; width: 100%; padding: 0; margin: 0; }

.video_container video { width: 100%; height: 100%; }

.overlay { position: absolute; bottom: 20px; left: 10px; padding: 5px; z-index: 2; background: #000000; transition: .3s ease; opacity: 0; font: 18px "Montserrat", sans-serif; color: #ffffff; }

.image_container:hover .overlay { opacity: 1; }

/*text formating*/
.main_text_box { flex: 80%; display: flex; flex-direction: column; align-items: center; font: 400 16px "Montserrat", sans-serif; margin: 0; padding: 0; }

.text_box { flex: 100%; max-width: 50em; font: 400 16px "Montserrat", sans-serif; display: flex; flex-direction: column; background-color: #ffffff; margin: 0; padding: 10px; outline: 5px solid rgba(0, 0, 0, 0.1); }

.text_box .gallery { width: 100%; height: auto; display: flex; flex-direction: column; margin: 0; padding: 0; }

.text_box .gallery img { width: 100%; height: auto; margin: 0; padding: 0.5%; }

.text_box .gallery .nested_gallery { height: auto; width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; margin: 0; padding: 0; }

.text_box .gallery .nested_gallery img { width: 50%; height: auto; margin: 0; }

.text_box h1 { font: 700 20px "Montserrat", sans-serif; color: #98301b; text-indent: 0; margin: 0; padding: 0; }

.text_box b { font: 700 16px "Montserrat", sans-serif; color: #878787; text-indent: 0; margin: 0; padding: 0; }

.text_box p { font: 400 16px "Montserrat", sans-serif; color: #878787; text-indent: 0; margin: 0; padding: 0; }

.text_box small { display: block; text-align: right; font: 400 12px "Montserrat", sans-serif; color: #e0674f; text-indent: 0; margin: 0; padding: 0; }

/*# sourceMappingURL=styles.css.map */